.card {
    border: 0px solid black;
     width: 350px; 
     margin: auto;
     margin-top: 200px;
     padding: 20px;
     border-radius: 25px;
     box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.card p {
    color: gray;
    
}

.card table {
    border-collapse: collapse;
     width: 100%;
    

    
}
.card th,td{
    padding: 5px;
   
}

.card img {
    border-radius: 25px;
}