
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="left">
        <a href="/">  
          <img src="/public/assets/logo2.png" alt="logo" style="width: 50px;" />
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog" class="list-active">Blog</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <a href="/contact"> Contact Me </a>
      </div>
    </nav>

    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{title}}  |  {{ index}}</h1>
        <div class="author">12 Jul 2021 22:30 WIB | Ichsan Emrald Alamsyah</div>
        <img src="/public/assets/blog-img-detail.png" alt="detail" />
        <p>
          {{content}}
        </p>
      </div>
    </div>
  </body>
</html>